.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    font-family: Arial sans-serif;
}
div {
    background-color: #1c0404;
    color: #1024d9;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}
span {
    color: #0a0b6c;
    font-size: 1.5rem;
}
